<nav>

  <% if user_signed_in? && current_user.admin? %>
    <p>Usuário: <%= current_user.email %> </p>
    <p><%= link_to 'Fabricantes', manufacturers_path %></p>
    <p><%= link_to 'Filiais', subsidiaries_path %></p>
    <p><%= link_to 'Categorias', car_categories_path %></p>
    <p><%= link_to 'Modelo de Carros', car_models_path %></p>
    <p><%= link_to 'Carros', cars_path %></p>

  <% end %>

  <p><%= link_to 'Locações', rentals_path %></p>

  <%= puts 'a'%>

</nav>





