<% @manufacturers.car_model.each do |car_model| %> 
        <p>
        <%= link_to car_model.name %> <%= car_model.year %> <%= car_model.motorization %> 
                                         <%= car_model.car_category.name %> <%= car_model.fuel_type %>
        </p>
    <% end %>