<h1> Rental </h1>

<% if @rental.errors.any? %>
    <% @rental.errors.full_messages.each do |message| %>
        <p> <%= message %> </p>
    <% end %>
<% end %>

<p> Formulario </p>
<%= form_with(model: @rental, class: 'nifty_form', local: true) do |f| %> 
    <%= f.label :start_date, 'Data de início'%>
    <%= f.text_field :star_date %>
    <%= f.label :end_date, 'Data de fim'%>
    <%= f.text_field :end_date %>
    <%= f.label :cliente_id, 'Cliente:'%>
    <%= f.collection_select :cliente_id, @clients, :id, :description %>
    <%= f.label :car_category_id, 'Categoria do Carro:'%>
    <%= f.collection_select :car_category_id, @car_categories, :id, :name %>
    <%= f.submit 'Enviar' %>


    f.colletion_select :client_id, @clients, :id, :description
    <!-- description function dentro do model com a descrição exata do que quer q apareça no teste -->

<% end %>
