<% if @manufacturer.errors.any? %>
    <% @manufacturer.errors.full_messages.each do |message| %>
        <p> <%= message %> </p>
    <% end %>
<% end %>



<%= form_with model: @manufacturer, local:true do |f| %>
<p> 
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.submit 'Enviar' %>
<% end %>
</p>

<p> <%= link_to 'Voltar', root_path %> </p>