<h3> Modelo de Carro </h3>

<p> Nome: <%= @car_model.name %></p>
<p> Ano: <%= @car_model.year %> </p>
<p> Fabricante: <%= @car_model.manufacturer.name %> </p>
<p> Combustivel: <%= @car_model.fuel_type %> </p>
<p> Motorização: <%= @car_model.motorization %> </p>
<p> Categoria: <%= @car_model.car_category.name %> </p>

<p><%= link_to 'Editar', edit_car_model_path(@car_model)%></p>
<p><%= link_to 'Voltar', root_path %></p>

